/* ==========================================================================
	Footer
========================================================================== */

.site-footer {
	// a:not(.button):not(.components-button) {
	// 	@include inline-block();
	// 	color: $white;
	// 	text-decoration: none !important;
	// }
	.widget {

		.widget-title {
			border-color: $gray--darkest;
		}

		.menu {
			.menu-item {
				margin-bottom: 0.5em;
				padding-left: 0;

				&::before {
					display: none;
				}
			}
		}

		.product_list_widget {
			li {
				border-color: $black--lightest;
			}
		}
	}
}
