/* ==========================================================================
	Header
========================================================================== */

.site-header {

	@include media(">=screen768") {
		padding-top: 2em;
	}

	.site-search {

		.search-field {
			border-color: $white;
		}

		.widget_product_search form::before {
			top: 1.25em;
			color: $white;
		}

		@include media(">=screen768") {
			margin-bottom: 0 !important;
		}
	}
}

.site-header-cart {
	@include media(">=screen768") {
		flex: 0 1 230px;
		width: auto !important;
	}
}

.site-branding {

	.custom-logo-link {
		max-width: 44px;
		max-height: 44px;

		@include media(">=screen768") {
			max-width: 52px;
			max-height: 52px;
		}
	}

	@include media(">=screen768") {
		margin-bottom: 0 !important;
	}
}
