/* ==========================================================================
	Header
========================================================================== */

.site-header {

	@include media(">=screen768") {
		padding-top: 2em;
	}

	.site-search {

		.search-field {
			border-color: $white;
			@include hocus {
				border-color: $white;
			}
		}

		.widget_product_search form::before {
			top: 1.25em;
			color: $white;
		}

		@include media(">=screen768") {
			margin-bottom: 0 !important;
		}
	}
}

.site-header-cart {

	@include media(">=screen768") {
		flex: 0 1 500px;
		width: auto !important;
	}

	.woocommerce-Price-amount.amount {
		font-weight: 700;
		font-weight: 600;
	}
}

.site-branding {

	.custom-logo-link {
		display: block;

		img {
			width: auto !important;
			max-width: 44px !important;
			max-height: 44px !important;

			@include media(">=screen768") {
				max-width: 52px !important;
				max-height: 52px !important;
			}
		}
	}

	@include media(">=screen768") {
		margin-bottom: 0 !important;
	}
}

.storefront-handheld-footer-bar {
	.site-search {
		.widget_product_search form::before {
			top: 1.25em;
			color: $white;
		}
	}
}
