/* ==========================================================================
    Menus
========================================================================== */

/**
 * === DEFAULT ===
 */

.c-menu {

    @include media(">=medium") {
        display: flex;
        align-items: baseline;
        gap: 1em;
    }
}

.c-menuItem {

    @include media(">=medium") {
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: auto;
    }
}

/**
 * === DROPDOWNS ===
 */

.c-submenu {
    position: relative;

    // screen at or above 900px
    @include media(">=medium") {
        position: absolute;
    }
}
