/* ==========================================================================
    Mega Menu
========================================================================== */

.c-mega-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    opacity: 0;
    transition: height $speed-fast $bezier-slide,
                opacity $speed-fast $bezier-slide,
                visibility $speed-fast $bezier-slide;
    font-size: 1em;
    visibility: hidden;
    z-index: 1000;
    pointer-events: none;

    &.is-visible {
        height: 100%;
        margin-bottom: $base-spacing;
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    &.is-hidden {
        height: 0;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }

    // screen at or above 900px
    @include media(">=medium") {
        @include padding();
        position: absolute;
        top: 100%;
        left: 0;
        flex-direction: row;
        justify-content: flex-start;
        align-items: stretch;
        gap: $gutter-sm;
        width: 100%;
        padding-top: $gutter-sm;
        padding-bottom: $gutter-sm;
        background-color: $black--light;
        color: $white;

        &.is-visible {
            height: auto;
            margin-bottom: 0;
        }
    }
}

.c-mega-menu__card {
    margin-top: $gutter-sm;
    margin-bottom: $gutter;

    .c-media {
        max-width: 100%;
        margin-bottom: $gutter-sm;
        overflow: hidden;
        border-radius: $border-radius;
    }

    .c-card__text {
        margin-bottom: $gutter-sm;
        font-family: $font-body;
        font-weight: $font-regular;
        text-transform: none;
        letter-spacing: normal;
    }

    .c-button.is-primary {
        @include btn-color($white, $yellow);
        padding: rem(5px) rem(10px);
        font-size: $font-base-sm;
        line-height: $heading-height;
    }

    // screen at or above 900px
    @include media(">=medium") {
        flex: 0 1 percentage(1/3);
        margin: 0;
    }

    // screen at or above 900px
    @include media(">=medium") {
        flex-basis: 25%;
    }
}

.c-mega-menu__columns {
    display: flex;
    flex-flow: row wrap;
    gap: $gutter-sm;

    // screen at or above 900px
    @include media(">=medium") {
        display: flex;
        flex: 1 0 percentage(2/3);
    }

    // screen at or above 1200px
    @include media(">=large") {
        flex-basis: 75%;
    }
}

.c-mega-menu__column {
    flex: 0 1 50%;
    max-width: calc(50% - math.div($gutter-sm, 2));

    // screen at or above 900px
    @include media(">=medium") {
        flex-basis: 50%;
        max-width: calc(50% - $gutter-xs);
    }

    // screen at or above 1200px
    @include media(">=large") {
        flex-basis: 25%;
        max-width: calc(25% - ($gutter-sm / 4 * 3));
    }
}

.c-media:has(.c-mega-menu__image) {
    display: block;
    margin-bottom: $small-spacing;
    overflow: hidden;
    border-radius: $border-radius;
}

.c-mega-menu__title {
    @include underlined();
    margin-bottom: 0.5em;
    padding-bottom: 0.25em;
    font-size: $font-h6;
    text-transform: uppercase;
    color: $white--darker;

    &::after {
        height: 0.25em;
    }
}

.c-mega-menu__list {
    display: flex;
    flex-direction: column;
    row-gap: rem(5px);
    line-height: $heading-height;
}

.c-mega-menu__item {
    font-family: $font-body;
    font-size: $font-base;
    text-transform: none;
    line-height: inherit;
    letter-spacing: normal;

    .u-nav-link {
        @include ellipsis();
    }
}
