/* ==========================================================================
    Primary Navigation
========================================================================== */

.c-navigation {
    @include padding();
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-top: $gutter-sm;
    padding-bottom: $gutter-sm;
    background-color: $black;
    background-image: url("https://onemohrti.me/wp-content/uploads/concrete-dark.png");
    background-size: 298.5px 272.5px;
    color: $white;

    // Mobile Menu Activated
    &.is-visible {
        flex-direction: column;
        align-items: flex-start;
    }

    // screen at or above 900px
    @include media(">=medium") {
        overflow: visible;
    }

    // screen at or above 1200px
    @include media(">=large") {
        &.is-visible {
            flex-direction: row;
            align-items: center;
        }
    }

    // screen at or above 1500px
    @include media(">=big") {
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;
    }

    // screen below 899px
    @include media("<medium") {
        &.is-visible {
            max-height: 100vh;
            overflow: auto;
        }
        .c-availability,
        .c-navigation__logo {
            display: none;
        }
    }
}

/**
 * === MENU ===
 */

.c-navigation__menu {
    display: flex;
    flex-direction: column;
    row-gap: $gutter-xs;
    width: 100%;
    height: auto;
    max-height: 100vh;
    padding-top: $gutter-sm;
    padding-bottom: calc($gutter + rem(56px));
    padding-bottom: $gutter-sm;
    background-color: $black;
    color: $white;

    &.is-hidden {
        position: absolute;
        width: 0;
        height: 0;
        max-height: 0;
        opacity: 0;
        pointer-events: none;
        overflow: hidden;
    }

    // screen at or above 900px
    @include media(">=medium") {
        flex-direction: row;
        // flex-wrap: wrap;
        column-gap: $gutter-xs;
        padding: 0;

        &.is-hidden {
            position: static;
            width: auto;
            height: auto;
            max-height: 100%;
            opacity: 1;
            pointer-events: auto;
            overflow: hidden;
        }
    }

    // screen at or above 1200px
    @include media(">=large") {
        flex-wrap: nowrap;
        margin-right: auto;
        background-color: transparent;

        &.is-hidden {
            position: relative;
            width: auto;
            height: auto;
            max-height: 100vh;
            opacity: 1;
            pointer-events: auto;
        }
    }
}

.c-navigation__menuItem {
    @include heading();
    flex: 1 1 50%;
    font-family: $font-header;
    font-weight: $font-bold;
    line-height: $line-height;

    &.is-current {
        position: relative;

        &::after {
            content: "";
            position: absolute;
            left: calc(50% - rem(12px));
            bottom: 1px;
            display: block;
            width: rem(24px);
            height: rem(3px);
            opacity: 1;
            transition: opacity $speed $bezier-slide;
            transition-delay: $speed-fast;
            background-color: $yellow;
        }

        @include hocus {
            &::after {
                opacity: 0;
            }
        }
    }

    .c-media__svg {
        display: none;
        width: 0.75em;
        height: 0.75em;
    }

    .u-nav-link {
        --bg-height: 3px !important;
        @include multiline-link(true);
        &:focus {
            border-radius: $border-radius;
            outline: $focus-outline;
            outline-offset: $focus-offset;
        }
        &:active {
            color: $white--darkest;
        }
    }

    // screen at or above 1200px
    @include media(">=large") {
        flex: 0 1 auto;
        margin-right: 0.5em;
        font-size: $font-h6;
        font-weight: $font-heavy;
        letter-spacing: rem(1.5px);
    }
}

/**
 * === LOGO ===
 */

.c-navigation__logo {
    $logoSize: 60px;
    position: absolute;
    top: -(math.div($logoSize, 3));
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: $logoSize;
    height: $logoSize;
    transform: translateX(-50%);
    border-radius: math.div($logoSize, 2);
    background-color: $black;

    .c-media__image {
        max-height: 44px;
        max-width: 220px;
        transition: fill $speed-fast $bezier-slide;
        fill: $white;
    }

    // screen at or above 600px
    @include media(">=small") {
        top: 0;
        transition: background $speed-fast $bezier-slide;
        z-index: 50;

        @include hocus {
            background-color: $yellow;
            .c-media__image {
                fill: $black;
            }
        }
    }

    // screen at or above 1200px
    @include media(">=large") {
        top: (math.div($logoSize, 3));
    }
}

/**
 * === CART ===
 */

.c-navigation__cart {
    position: relative;

    .c-navigation.is-visible & {
        display: none;
    }

    .c-media__svg {
        width: rem(32px);
        height: rem(32px);
    }

    .cart-count {
        $dot-size: rem(20px);
        position: absolute;
        top: math.div(-$dot-size, 2);
        right: math.div(-$dot-size, 2);
        display: flex;
        align-items: center;
        justify-content: center;
        width: $dot-size;
        height: $dot-size;
        font-size: $font-base-sm;
        font-weight: $font-bold;
        border-radius: $dot-size;
        background-color: $yellow;
        color: $black;
    }
}

/**
 * === TOGGLE ===
 */

.c-navigation__toggle {
    position: relative;
    flex: 0 1 auto;

    // screen at or above 900px
    @include media(">=medium") {
        display: none;
    }

    // screen at or above 1200px
    @include media(">=large") {
    }
}

/**
 * === SEARCH ===
 */

.c-navigation__search {
    position: relative;
    margin-left: $gutter-sm;
    margin-right: auto;

    .c-navigation.is-visible & {
        display: none;
    }

    // Woocommerce Search
    .woocommerce-product-search {
        display: flex;
        display: none;
    }

    .icon-trigger {
        margin: 0;
        padding: 0;
        border: none;
        background: none;
        cursor: pointer;
    }

    .c-media__svg {
        width: rem(24px);
        height: rem(24px);
    }

    // screen at or above 600px
    @include media(">=small") {
        margin-left: auto;
        margin-right: $gutter-sm;
    }
}
