/* ==========================================================================
    Primary Nav Subnavigation
========================================================================== */

.c-submenu {
    position: relative;
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    row-gap: 0.5em;
    padding: $small-spacing;
    background-color: $black--light;
    color: $white;
    z-index: 100;

    // screen at or above 900px
    @include media(">=medium") {
        // display: none;
        position: absolute;
        top: 100%;
        background-color: $black--lighter;
    }
}

.c-submenu__item {
    font-family: $font-body;
    font-size: $font-base-sm;
    font-size: rem(16px);
    line-height: $heading-height;

    &.is-current {
        color: $gray--lighter;
    }
}
