/* ==========================================================================
    Tease
========================================================================== */

.c-tease {

    // Media
    .c-media {
        margin-bottom: $base-spacing;
    }
}

.c-tease__headline {
    font-size: $font-h4;
    margin-bottom: 0.2em;
}

.c-tease__meta {
    display: block;
    margin-bottom: $base-spacing;
    font-size: $font-meta;
}

.c-tease__text {
    font-size: $font-base-sm;

    // screen at or above 900px
    @include media(">=medium") {
        font-size: $font-base-md;
    }
}

.c-tease__button {
    margin-top: 1em;
}

/**
 * === WOOCOMMERCE PRODUCT ===
 */

.c-tease.c-tease--product {
    flex: 0 1 50%;
    max-width: calc(50% - ($gutter-sm / 2));

    .attachment-woocommerce_thumbnail {
        display: block;
        width: 100%;
    }

    .onsale {
        @include caption();
        position: absolute;
        top: 0.5em;
        left: 0.5em;
        line-height: 1em;
    }

    .price {
        display: block;
        font-size: $font-base-sm;
        font-weight: $font-bold;
        line-height: $heading-height;
        color: $black--lightest;
    }

    .woocommerce-loop-product__link {
        position: relative;
        display: block;
    }

    .button.product_type_variable,
    .button.product_type_simple.add_to_cart_button {
        @include btn-style();
        display: inline-block;
        margin-top: $gutter-xs;
        padding: math.div($small-spacing, 2) math.div($base-spacing, 2);
        font-size: $font-base;

        &::after {
            height: 6px;
        }
    }

    .added_to_cart {
        @include highlight-link();
        margin-left: $base-spacing;
        font-size: $font-base-sm;
        font-weight: $font-bold;
        line-height: $heading-height;
    }

    .woocommerce-loop-product__title {
        margin-top: $gutter-xs;
        margin-bottom: 0.5em;
        font-size: $font-h6;
    }

    // screen at or above 900px
    @include media(">=medium") {
        flex-basis: percentage(1/3);
        max-width: calc(percentage(1/3) - ($gutter / 3 * 2));

        .woocommerce-loop-product__title {
            margin-top: $gutter-xs;
        }
    }

    // screen at or above 900px
    @include media(">=medium") {
        flex-basis: 25%;
        max-width: calc(25% - ($gutter / 4 * 3));

        .woocommerce-loop-product__title {
            margin-top: $gutter-xs;
        }
    }
}
