{# -- Partial Variables -- #}
{# ----------------------------------------------------------------- #}

{% set this = {
    logo: params.logo,
    about: params.about,
    flags: params.flags,
    press: params.press,
    social: params.social,
    navigation: params.menu,
    siteName: params.siteName,
    siteUrl: params.siteUrl
} %}

{# -- Partial Template -- #}
{# ----------------------------------------------------------------- #}

<footer class="o-site__footer">
    <div id="colophon" class="c-footer">
        <h2 class="u-screen-reader-text">Footer Info</h2>

        <nav class="c-footer__portfolio">
            <h3 class="u-subheadline">Explore More:</h3>
            <ul class="c-menu">
                <li class="c-menuItem">
                    <a href="" class="c-button is-inverse">Logo Design</a>
                </li>
            </ul>
            <ul class="c-menu">
                {% for profile in this.social %}
                    {% set profile = profile.profile %}
                    <li class="c-footer__social-profile">
                        <a href="{{ profile.url }}" target="_blank" rel="noopener noreferrer nofollow">
                            {{ source('_elements/svg/social-' ~ profile.title|lower ~ '.svg') }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </nav>

        <div class="c-footer__utility">
            <p>&copy; 2011 &ndash; {{ 'now'|date('Y') }} | Derek Mohr | <a href="https://onemohrti.me/" class="u-highlight">OneMohrTime Design Co.</a></p>
            <ul class="c-footer__legal c-menu">
                <li class="c-menuItem">
                    <a href="https://onemohrti.me/privacy-policy" class="u-highlight">Privacy</a>
                </li>
                <li class="c-menuItem">
                    <a href="https://onemohrti.me/terms-of-use" class="u-highlight">Terms</a>
                </li>
                <li class="c-menuItem">
                    <a href="https://onemohrti.me/cookie-policy" class="u-highlight">Cookies</a>
                </li>
            </ul>
        </div>

    </div>
</footer>
