/* ==========================================================================
	Alerts
========================================================================== */

.woocommerce-info,
.woocommerce-noreviews,
p.no-comments,
.woocommerce-message,
.woocommerce-error {
	a:not(.button) {
		@include inline-block();
		text-decoration: none !important;

		&::before {
			background-color: $gray--dark;
		}
	}
}

.woocommerce-info,
.woocommerce-noreviews,
p.no-comments {
	background-color: $gray--lightest !important;
	color: $black !important;
	&::before {
		color: $black !important;
	}
}

.woocommerce-message {
	background-color: $yellow !important;
	color: $black !important;

	&::before {
		color: $black !important;
	}

	.button {
		border-color: $yellow--dark;
		color: $black;
		&::after {
			display: none;
		}
	}
}

.woocommerce-error {
	background-color: $red !important;
}

.site-content > .col-full > .woocommerce > .woocommerce-message:first-child,
.site-content > .col-full > .woocommerce > .woocommerce-info:first-child,
.site-content > .col-full > .woocommerce > .woocommerce-error:first-child {
	margin-top: 0;
}
