/* ==========================================================================
    Woocommerce Cart
========================================================================== */

$borders: 2px solid $white--darker;

.t-page.is-cart {

    .o-page {
        padding-left: 0;
        padding-right: 0;
    }

    // Post Content
    .wp-block-woocommerce-cart {

        .wc-block-components-product-name {
            @include tagline();
        }

        .wc-block-cart-items {
            border-bottom: $borders;

            // .wc-block-cart-items__row {}
            // .wc-block-cart-item__product {}

            .wc-block-cart-item__prices {
                line-height: $line-height;
            }

            .price.wc-block-components-product-price {
                font-weight: $font-bold;
            }

            .wc-block-components-product-metadata__description {
                font-size: $font-base-sm;
                line-height: $line-height;
                color: $gray--dark;
                p {
                    margin: 0;
                }
            }

            .wc-block-components-quantity-selector {
                margin: 0 0 $small-spacing;
                border: 2px solid $white--darkest;
                border-radius: $border-radius;

                & > .wc-block-components-quantity-selector__button--minus,
                & > .wc-block-components-quantity-selector__button--plus {
                    border: 0;
                    border-radius: 0
                }
            }

            .wc-block-cart-item__remove-link {
                @include highlight-link();
                &::before {
                    background-color: $yellow;
                }
            }

            td {
                border-top: $borders;
            }
        }

        .wc-block-components-totals-wrapper {
            border-top: $borders;
        }

        .wp-block-woocommerce-cart-order-summary-totals-block {
            border-top: 0;
        }

        .wp-block-woocommerce-cart-order-summary-block {
            border-bottom: $borders;
        }

        .wp-block-separator {

            // "Related" title
            & + .wp-block-heading {
                font-size: $font-base-lg;
            }
        }

        ul.wc-block-grid__products {
            @include padding();
            max-width: 100%;
            margin: 0;
        }

        li.wc-block-grid__product {
            border: 0;

            .wc-block-grid__product-link {
                &::after {
                    display: none;
                }
            }

            .wc-block-grid__product-title {
                font-size: $font-h5;
            }

            .wc-block-grid__product-price {
                .woocommerce-Price-amount {
                    font-size: $font-base-lg;
                }
            }

            .wp-block-button.wc-block-grid__product-add-to-cart {
                margin: 0;
                padding: 0;

                .wp-block-button__link.add_to_cart_button {
                    @include btn-style();
                    background-color: transparent;
                }
            }
        }

    }

    // Checkout
    .woocommerce-cart-form {
        .actions {
            .button {
                @include btn-style();
            }
        }
        .coupon {
            display: flex
        }
    }

    // Totals
    .cart-collaterals {
        h2 {
            @include heading();
        }
        .checkout-button.button {
            @include btn-style();
        }
        .ppc-button-wrapper {
            margin-top: 1em;
        }
    }

    // Elements
    .wc-block-components-button.wc-block-components-totals-coupon__button,
    .wc-block-components-button.wc-block-cart__submit-button {
        @include btn-style();
    }

}
