/* ==========================================================================
    Header
========================================================================== */

.o-site__header {

    // screen at or above 900px
    @include media(">=medium") {}

    // screen at or above 1200px
    @include media(">=large") {}

    // screen below 599px
    @include media("<small") {
        position: fixed;
        bottom: 0;
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        z-index: 100;
    }
}

/**
 * === COMPONENTS ===
 */

.o-header__search {
    @include padding();
    padding-top: $gutter-xs;
    padding-bottom: $gutter-xs;
    border-top: 3px solid $black;
    background-color: $white;
    background-image: url("https://onemohrti.me/wp-content/uploads/concrete-light.png");
    background-size: 298.5px 272.5px;
    background-repeat: repeat;

    &.is-hidden {
        display: none;
    }

    &.is-visible {
        display: block;
    }

    .woocommerce-product-search {
        display: flex;
        column-gap: $gutter-xs;

        .search-field {
            flex: 1 0 auto;

            &:focus {
                border-color: $black;
                outline: $focus-outline;
                outline-offset: $focus-offset;
            }
        }

        button {
            @include btn-style();
        }
    }

    // screen at or above 600px
    @include media(">=small") {
        background-color: $white--dark;
    }


    // screen at or above 900px
    @include media(">=medium") {
        background-color: $white--darker;
    }

    // screen at or above 1500px
    @include media(">=big") {
        border-left: 3px solid $black;
        border-right: 3px solid $black;
    }
}
