/* ==========================================================================
    Woocommerce Product
========================================================================== */

.t-product {

    .c-product {
        @include padding();
        padding-top: $gutter-sm;
        padding-bottom: $gutter-sm;
    }

    .c-product__images {
        img {
            width: 100%;
        }
    }

    .c-product__summary {
        margin-bottom: $gutter;
    }

    .woocommerce-product-gallery__wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: $gutter-sm;

        .woocommerce-product-gallery__image:first-child {
            flex: 1 1 100%;
            max-width: 100%;
        }

        .woocommerce-product-gallery__image:not(:first-child) {
            flex: 1 1 25%;
            max-width: calc(25% - ($gutter-sm * 4 / 3));
        }
    }

    .woocommerce-product-details__short-description {
        margin-bottom: $small-spacing;
        line-height: $line-height;
    }

    .woocommerce-tabs {
        margin-bottom: $gutter;

        .tabs {
            display: flex;
            column-gap: $small-spacing;
            width: 100%;
            max-width: 100%;
            margin-bottom: $small-spacing;
            overflow-x: auto;

            li {
                padding: $small-spacing;
                transition: border $speed $bezier-slide,
                            font-weight $speed $bezier-slide;
                font-size: $font-base-sm;
                line-height: $line-height;
                border: 2px solid $gray;
                border-radius: $border-radius;
                a {
                    white-space: nowrap;
                }

                &.active {
                    border-color: $black;
                    font-weight: $font-bold;
                }
            }
        }

        .woocommerce-Tabs-panel.panel {
            @include content-width();
            @include type();
            line-height: $line-height;

            p, ul, ol {
                line-height: inherit;
                & + p,
                & + ul,
                & + ol {
                    margin-top: math.div($line-height, 2);
                }
            }

            ul, ol {
                padding-left: $line-height;
                list-style-type: disc;

                // custom styled dots
                li::marker {
                    color: $gold;
                }

                // child elements
                & ul,
                & ol,
                & dl {
                    margin: 0;
                }
            }
        }

        .woocommerce-product-attributes {
            display: block;
            padding: 0 math.div($gutter-sm, 2);
            border: 2px solid $white--dark;
            border-radius: $border-radius;
        }
        .woocommerce-product-attributes-item__label {
            padding: math.div($gutter-sm, 2);
            font-weight: $font-bold;
            border-right: 2px solid $white--dark;
        }
        .woocommerce-product-attributes-item__value {
            padding: math.div($gutter-sm, 2);
        }

        .comment-form {
            .stars {
                @for $i from 1 through 5 {
                    .star-#{$i} {
                        content: url("/assets/img/star--empty.svg");
                        width: rem(20px);
                        height: rem(20px);
                        margin-right: $small-spacing;
                    }
                }
            }
        }

        h2 {
            @include heading();
            line-height: $heading-height;
            margin-bottom: $small-spacing;
        }
    }

    .product_title {
        @include title();
        font-weight: $font-bold;
    }

    .price {
        @include subheadline();
        margin-bottom: $small-spacing;
        font-weight: $font-regular;
    }

    .cart {
        display: flex;
        flex-direction: column;
        gap: $small-spacing;
        margin-bottom: $small-spacing;

        .woocommerce-variation-add-to-cart {
            display: flex;
        }

        .quantity {
            max-width: rem(120px);
            .qty {
                max-width: 100%;
            }
        }
    }

    .product_meta {
        margin-bottom: $small-spacing;
        line-height: $line-height;

        & > span {
            display: block;
        }

        .posted_in,
        .tagged_as {
            a {
                @include inline-link();
            }
        }
    }

    .single_add_to_cart_button {
        @include btn-style();
    }

    .related.products {

        .products {
            display: flex;
            flex-wrap: wrap;
            column-gap: $gutter-sm;

            .product {
                flex: 0 1 50%;
                max-width: calc(50% - math.div($gutter-sm, 2));

                .woocommerce-loop-product__title {
                    @include heading();
                }

                .price {
                    font-size: $font-h6;
                    font-weight: $font-medium;
                    color: $black--lightest;
                }

                .button {
                    @include btn-style();
                }
            }
        }

        h2:not(.woocommerce-loop-product__title) {
            display: block;
            margin-bottom: $small-spacing;
            line-height: $heading-height;
        }
    }

    // screen at or above 900px
    @include media(">=medium") {
        .c-product {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-auto-rows: auto;
            column-gap: $gutter;
            padding-top: $gutter;
            padding-bottom: $gutter;
        }

        .c-product__images,
        .c-product__summary {
            margin-bottom: $gutter;
        }

        .woocommerce-tabs {
            grid-column: 1 / 3;
            .tabs {
                justify-content: center;
            }
        }

        .cart {
            display: inline-flex;
            flex-direction: row;
        }

        .related.products {
            grid-column: 1 / 3;

            .products {

                .product {
                    flex: 0 1 auto;
                    max-width: calc(25% - ($gutter-sm * 3 / 4));
                }
            }
        }
    }

}
