/* ==========================================================================
    Woocommerce Product
========================================================================== */

.t-product {

    .c-product {
        @include padding();
        padding-top: $gutter-sm;
        padding-bottom: $gutter-sm;
    }

    .c-product__images {
        img {
            width: 100%;
        }
    }

    .c-product__summary {
        margin-top: $gutter-sm;
        margin-bottom: $gutter;
    }

    .woocommerce-product-gallery__wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: $gutter-sm;

        .woocommerce-product-gallery__image:first-child {
            flex: 1 1 100%;
            max-width: 100%;
        }

        .woocommerce-product-gallery__image:not(:first-child) {
            flex: 1 1 25%;
            max-width: calc(25% - ($gutter-sm * 4 / 3));
        }
    }

    .woocommerce-product-details__short-description {
        margin-bottom: $small-spacing;
        line-height: $line-height;
    }

    .woocommerce-tabs {
        margin-bottom: $gutter;

        .tabs {
            display: flex;
            column-gap: $small-spacing;
            width: 100%;
            max-width: 100%;
            margin-bottom: $small-spacing;
            overflow-x: auto;

            li {
                padding: $small-spacing;
                transition: border $speed $bezier-slide,
                            font-weight $speed $bezier-slide;
                font-size: $font-base-sm;
                line-height: $line-height;
                border: 2px solid $gray;
                border-radius: $border-radius;
                a {
                    white-space: nowrap;
                }

                &.active {
                    border-color: $black;
                    font-weight: $font-bold;
                }
            }
        }

        .woocommerce-Tabs-panel.panel {
            @include content-width();
            @include type();
            line-height: $line-height;

            p, ul, ol {
                line-height: inherit;
                & + p,
                & + ul,
                & + ol {
                    margin-top: math.div($line-height, 2);
                }
            }

            ul, ol {
                padding-left: $line-height;
                list-style-type: disc;

                // custom styled dots
                li::marker {
                    color: $gold;
                }

                // child elements
                & ul,
                & ol,
                & dl {
                    margin: 0;
                }
            }
        }

        .woocommerce-product-attributes {
            display: block;
            padding: 0 math.div($gutter-sm, 2);
            border: 2px solid $white--dark;
            border-radius: $border-radius;

        }
        .woocommerce-product-attributes-item {
            display: block;
            width: 100%;
        }
        .woocommerce-product-attributes-item__label {
            padding: math.div($gutter-sm, 2);
            font-weight: $font-bold;
            border-right: 2px solid $white--dark;
        }
        .woocommerce-product-attributes-item__value {
            padding: math.div($gutter-sm, 2);
        }

        .comment-form {
            .stars {
                @for $i from 1 through 5 {
                    .star-#{$i} {
                        content: url("https://shop.onemohrti.me/wp-content/uploads/star-outline.svg");
                        width: rem(20px);
                        height: rem(20px);
                        margin-right: $small-spacing;
                    }
                }

                // Highlight all previous siblings including the active one
                &:has(.star-1.active) .star-1,
                &:has(.star-2.active) .star-1,
                &:has(.star-2.active) .star-2,
                &:has(.star-3.active) .star-1,
                &:has(.star-3.active) .star-2,
                &:has(.star-3.active) .star-3,
                &:has(.star-4.active) .star-1,
                &:has(.star-4.active) .star-2,
                &:has(.star-4.active) .star-3,
                &:has(.star-4.active) .star-4,
                &:has(.star-5.active) .star-1,
                &:has(.star-5.active) .star-2,
                &:has(.star-5.active) .star-3,
                &:has(.star-5.active) .star-4,
                &:has(.star-5.active) .star-5 {
                    content: url("https://shop.onemohrti.me/wp-content/uploads/star-fill.svg");
                }
            }
        }

        h2 {
            @include heading();
            line-height: $heading-height;
            margin-bottom: $small-spacing;
        }
    }

    .product_title {
        @include title();
        font-weight: $font-bold;
    }

    .price {
        @include lead();
        display: block;
        margin-top: $small-spacing;
        margin-bottom: $small-spacing;
        font-weight: $font-heavy;
        color: $black--lightest;
    }

    .variations {
        transition: height $speed $bezier-slide;

        .reset_variations {
            @include btn-style();
            // @include inline-link();
            display: none;
        }

        tbody {
            display: flex;
            flex-direction: column;
            row-gap: $small-spacing;
        }

        tr {
            display: flex;
            column-gap: $small-spacing;

            .label {
                display: block;
                width: 30%;
                // flex: 0 1 rem(200px);
                label {
                    @include label();
                    display: block;
                    margin-top: 0.5em;
                    text-transform: capitalize;
                }
            }
            .value {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                row-gap: $small-spacing;
                width: 70%;
                // flex: 1 0 calc(100% - rem(200px));
                select {
                    width: 100%;
                }
            }
        }
    }

    .cart {
        display: flex;
        flex-direction: column;
        gap: $small-spacing;
        margin-bottom: $small-spacing;

        .woocommerce-variation-add-to-cart {
            display: flex;
            align-items: center;
            column-gap: $small-spacing;
        }

        .quantity {
            max-width: rem(120px);
            max-width: 30%;
            .qty {
                max-width: 100%;
            }
        }

        input:focus,
        textarea:focus,
        select:focus {
            outline: $focus-outline;
            outline-offset: $focus-offset;
        }
    }

    .wcpay-express-checkout-wrapper {
        margin-bottom: $small-spacing;
    }

    .ppc-button-wrapper {
        margin-bottom: $small-spacing;
    }

    .product_meta {
        margin-bottom: $small-spacing;
        line-height: $line-height;

        & > span {
            display: block;
        }

        .posted_in,
        .tagged_as {
            a {
                @include inline-link();
            }
        }
    }

    .single_add_to_cart_button {
        @include btn-style();
        display: block;
        width: 70%;
    }

    .related.products {

        .products {
            display: flex;
            flex-wrap: wrap;
            gap: $gutter-sm;

            .product {
                flex: 0 1 50%;
                max-width: calc(50% - math.div($gutter-sm, 2));

                .woocommerce-loop-product__title {
                    @include lead();
                }

                .price {
                    @include caption();
                    margin: $small-spacing 0;
                    color: $black--lightest;
                }

                .button {
                    @include btn-style();
                }
            }
        }

        h2:not(.woocommerce-loop-product__title) {
            @include heading();
            display: block;
            margin-bottom: $small-spacing;
            line-height: $heading-height;
        }
    }

    .woocommerce-Reviews {

        .comment-form {
            margin-top: $base-spacing;
            display: flex;
            flex-direction: column;
            row-gap: 1.5em;

            .required {
                color: $red;
            }

            label {
                @include label();
                margin-bottom: 0.5em
            }
        }

        .form-submit {
            margin: 0 !important;

            .submit {
                @include btn-style();
                position: relative;
            }
        }
    }

    // screen at or above 900px
    @include media(">=medium") {
        .c-product {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-auto-rows: auto;
            column-gap: $gutter;
            padding-top: $gutter;
            padding-bottom: $gutter;
        }

        .c-product__images,
        .c-product__summary {
            margin-top: 0;
            margin-bottom: $gutter;
        }

        .woocommerce-tabs {
            grid-column: 1 / 3;
            .tabs {
                justify-content: center;
            }
        }

        .related.products {
            grid-column: 1 / 3;

            .products {

                .product {
                    flex: 0 1 auto;
                    max-width: calc(25% - ($gutter-sm * 3 / 4));
                }
            }
        }
    }

    // screen at or above 1200px
    @include media(">=large") {
        .product_title {
            font-size: 6em;
            line-height: 1em;
        }
    }

}
